body{
    background: #f8f8f8;
}
h1{
    font-family: Verdana;
    text-align: center;
}

/* menu */
.menu a{
font: italic 25px Verdana;
color:cadetblue;
}

.menu li{
    list-style-type: none;
}
/* end menu */

/* footer */
.footer{
    text-align:right;
    font: 12px Verdana;
    
}
/* end footer */

/* product */
.product_img{
    width: 100px;
    border: 4px solid lightsalmon;

}

.product_link{
    font: 18px Verdana;
    color:darkslategrey;
}

.description_heading{
    color:black;
    font: 400 18px Verdana;
    background-color: #eaeaea;
}

.short_description{
    color: #707070;
    font: italic 400 14px Verdana;
    line-height: 16px;
    
}

.detailed_description{
    color: #484343;
    font: 400 16px Verdana;
    line-height: 24px;
    text-align: left;
}

.specification{
    font: 18px Tahoma;
    color:darkslategrey;
    list-style-image: url('img/arrow.svg');
}
/* end product */


/* feedback */
.feedback fieldset{
    display: inline;
    font: 14px Tahoma;
    
}
.feedback input, textarea{
    width: 200px;
    border: 2px solid lightblue;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 4px 2px;
}

.feedback input[type=submit]{
    width: 100px;
    background-color: lightblue;
    border: none;
    color: black;
}
.feedback input[type=reset]{
    width: 100px;
    background-color: lightcoral;
    border: none;
    color: black;
}
/* end feedback*/

/* about */
.about{
    font: 18px Tahoma;
    color:black;
    list-style-image: url('img/arrow.svg');
}
/* end about */