body{
    background: #f8f8f8;
}
h1{
    font-family: Tahoma;
    text-align: center;
}
/* menu */
.menu a{
font: italic 25px Tahoma, serif;
color:cadetblue;
}

.menu li{
    list-style-type: none;
}
/* footer */
.footer{
    text-align:right;
    font: 12px Verdana;
    
}
/* product_img */
.product_img{
    width: 100px;
}